@import mixins

$color: #000
$pad: 22px
$fs: 16px
$header-fs: 42px
$bg: #fff
$border-color: darken($bg, 15%)

$font-default: 'Neris', 'Source Sans Pro', Helvetica, sans-serif

body
  font-family: $font-default
  background: $bg
  color: $color
  font-size: $fs
  padding: 0 !important
  overflow-x: hidden
h1, h2, h3, h4, h5, h6
  font-family: $font-default
p
  margin-bottom: 1em
a
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: underline

input[type="text"], input[type="email"], input[type="submit"]
  font: inherit
  display: block
  -webkit-appearance: none
  border-radius: 0
  height: 1em
  outline: none !important

#top
  text-align: left
  padding: 20px
  border-bottom: 1px solid $border-color

#branding
  width: 260px
  height: 70px
  @include textHide
  background: url('../../img/logo.svg')
  margin: 40px
  small
    display: none

.post
  margin-bottom: 40px
  padding-bottom: 30px
  border-bottom: 1px solid mix($color, $bg, 10%)
  max-width: 600px
  .post-bottom
    font-size: 14px
    text-transform: uppercase
    letter-spacing: .07em
    color: mix($color, $bg, 30%)
    margin-top: 30px
  h1
    margin-bottom: 24px
  .body
    font-size: 20px
    font-family: 'Cambria'
    line-height: 1.6em

@media (min-width: 992px)
  #top
    background: transparent
    padding: 0
    position: fixed
    left: 30px
    top: 70px
    width: 340px
    border-bottom: none
    padding-bottom: 50px
    &:after
      content: ''
      display: block
      position: absolute
      right: 0
      top: 0
      bottom: 0
      width: 2px
      background: rgba(0, 0, 0, .1)
  #main
    margin-left: 370px
    padding: 40px
    padding-top: 50px
  #topnav
    ul
      padding: 0
      margin-left: 40px
    li
      display: block
      color: mix($color, $bg, 40%)
      margin: 4px 0
    a
      height: 50px
      padding: 20px 0
      line-height: 10px
      display: block
      text-transform: uppercase
      letter-spacing: .07em
      @include transition(all, .3s)
      font-weight: 500
      &:hover
        text-decoration: none
        border-right: 4px solid mix($color, $bg, 10%)
        color: mix($color, $bg, 50%)
      &.active
        color: #000
        border-right: 6px solid #b94222

.no-svg
  #branding
    background: url('../../img/logo.png')
