{% extends 'base.html' %}
{% block main %}

  <header id="top">
    <p class="brand_icon">JB</p>
    <h1 id="branding">Jeremy Blalock</h1>
    <div class="meta">
      <h2>Developer,<br>Designer,<br>Entrepreneur</h2>
      <h2>co-founder, <a href="http://www.outline.com/", target="_blank">Outline</a></h2>
    </div>
  </header>
  <section id="main">
  </section>

{% endblock %}
{% block templates %}

<script type="text/template" id="postDetailTemplate">
{% include 'post-detail.html' %}
</script>
{% endblock %}
