<div class="post detail">
  <h1><%= post.title %></h1>
  <div class="body">
    <%= post.body %>
  </div>
  <footer class="post-bottom">
    <div class="fb-like" data-href="http://jeremyblalock.co/posts/<%= post.slug %>" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jeremyblalock.co/posts/<%= post.slug %>" data-via="jeremyblalock">Tweet</a>
    <p>Posted <%= post.posted %></p>
  </footer>
</div>
