@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

body {
  font-family: "Neris", "Source Sans Pro", Helvetica, sans-serif;
  background: white;
  color: black;
  font-size: 16px;
  padding: 0 !important;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Neris", "Source Sans Pro", Helvetica, sans-serif; }

p {
  margin-bottom: 1em; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

input[type="text"], input[type="email"], input[type="submit"] {
  font: inherit;
  display: block;
  -webkit-appearance: none;
  border-radius: 0;
  height: 1em;
  outline: none !important; }

#top {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9; }

#branding {
  width: 260px;
  height: 70px;
  text-index: -10000px;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  background: url("../../img/logo.svg");
  margin: 40px; }
  #branding small {
    display: none; }

.post {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  max-width: 600px; }
  .post .post-bottom {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    color: #b2b2b2;
    margin-top: 30px; }
  .post h1 {
    margin-bottom: 24px; }
  .post .body {
    font-size: 20px;
    font-family: "Cambria";
    line-height: 1.6em; }

@media (min-width: 992px) {
  #top {
    background: transparent;
    padding: 0;
    position: fixed;
    left: 30px;
    top: 70px;
    width: 340px;
    border-bottom: none;
    padding-bottom: 50px; }
    #top:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      background: rgba(0, 0, 0, 0.1); }

  #main {
    margin-left: 370px;
    padding: 40px;
    padding-top: 50px; }

  #topnav ul {
    padding: 0;
    margin-left: 40px; }
  #topnav li {
    display: block;
    color: #999999;
    margin: 4px 0; }
  #topnav a {
    height: 50px;
    padding: 20px 0;
    line-height: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 500; }
    #topnav a:hover {
      text-decoration: none;
      border-right: 4px solid #e5e5e5;
      color: #7f7f7f; }
    #topnav a.active {
      color: black;
      border-right: 6px solid #b94222; } }
.no-svg #branding {
  background: url("../../img/logo.png"); }
